#single
  .container
    .post.single-post
      .caption
        .header
          %h1 
            About Sunwoo Yang
        %p
          I'm a software entrepreneur/developer currently living in NYC.  I started off working in various companies and now I'm pursuing a couple of my own product ideas.  This blog is meant to document my thoughts while I work towards profitability.