#single
  .container
    .post.single-post
      .caption
        .header
          %h1 
            About Sunwoo Yang
        %p
          I started off learning Japanese by myself in High School. It was then that I realized that anything I wanted to learn, I can learn on my own.  I went to a university in America and also went to a university in Thailand for a short while. It wasn't long until I realized that college was not for me. I wanted to be able to determine my own academic goals and aspirations, and not be limited by a curriculum designed to churn out 'student-customers'. After dropping out, I attended The Flatiron School in NYC to study Ruby, and then worked as a software engineer at various companies in NYC.
        %p
          I'm currently working on my humble goal of 'first product' and 'first customer'.  After learning to develop and design web software, I wanted to teach myself the business side of things.  I read dozens and dozens of books and articles on marketing products and services, and now I am trying to build products with real users. This blog was made to help others on their way and also to keep track of my progress through my failures(and hopefully successes). I am happy to chat with anyone online or meet in person to talk about almost anything.