<h1>About Sunwoo Yang</h1>

<p>
  I started off learning Japanese by myself in High School. It was then that I realized that anything I wanted to learn, I can learn on my own.  I went to a university in New Jersey and also a University in Thailand. It wasn't long until I decided that college was not for me. I wanted to be able to determine my own academic goals, and not by some curriculum that had no idea what my aspirations were. I attended The Flatiron School in NYC to study ruby, then worked as a software engineer for a short few months.
</p>
<p>
  I'm currently living in Thailand, working on my humble goal of 'first product' and 'first customer'.  It's very early on in my journey, and I may not make it out successful on my first attempt. This blog was made to help others on their way and also to keep track of my progress.
</p>
<p>
  Don't hesitate to e-mail me at <b>yangsunwoo@gmail.com</b><br>
  <a target="_blank" href="https://github.com/sunwooz">Github</a><br>
  <a target="_blank" href="https://www.linkedin.com/in/sunwooz">Linkedin</a>
</p>

  
</p>