#single
  .container
    .post.single-post
      .caption
        .header
          %h1 
            My Contact Info
        %a{ href: 'github.com/sunwooz', target: '_blank' } My Github
        %br
        %a{ href: 'https://www.linkedin.com/in/sunwooz', target: '_blank' } My LinkedIn

        %br
        %br
        
        %p
          You can contact me by email at: yangsunwoo@gmail.com
        %p
          Feel free to send a text or call me at 908-723-9994(USA)
