#posts.container
  %section.col-md-12.wow.fadeIn
    .post.big
      .row
        .col-md-6.media
          = image_tag("https://s3.amazonaws.com/sunwooyang-blog/post-pictures/Screen+Shot+2016-06-14+at+11.41.54+AM.png", class: 'img-responsive', alt: "VRMachine Gear VR Games")
        .col-md-6.caption
          %h1{ class: 'post-title' }=link_to "VRMachine GearVR Search Engine", "vrmachine.io", target: "_blank"
          %span.post-tag
            Made in 2016
          %p.post-description
            A search/filter engine to help GearVR enthusiasts find the best Gear VR game.

#posts.container
  %section.col-md-12.wow.fadeIn
    .post.big
      .row
        .col-md-6.media
          = image_tag("https://s3.amazonaws.com/sunwooyang-blog/post-pictures/hnjs", class: 'img-responsive')
        .col-md-6.caption
          %h1{ class: 'post-title' }=link_to "Hacker News Job Search", "http://production-hnjs.us-east-1.elasticbeanstalk.com/", target: "_blank"
          %span.post-tag
            Made in 2014
          %p.post-description
            A job search engine that scrapes everything from HackerNews.  There's a rails rake task being run by a cron job every hour to pull in the latest jobs. Made a quick custom search engine ontop of postgresql using vector search.  This was the first web app I made after joining Flatiron School.

            Uses Rails, Postgresql, AWS


#posts.container
  %section.col-md-12.wow.fadeIn
    .post.big
      .row
        .col-md-6.media
          = image_tag("http://clearwaterbeachassoc.com/wp-content/uploads/2016/01/Under-construction.png", class: 'img-responsive')
        .col-md-6.caption
          %h1{ class: 'post-title' } Under Construction
          %p.post-description
            I'm currently moving all of my projects from Heroku to AWS to save on costs and learn to deploy somewhere new. This page will be updated soon. By the way, I'm currently looking for a web development job in NYC. My contact information is under /contact