
<div id="primary" class="col-sm-12">
  <div class="content">

    <section class="post">
      <header class="entry-header">
        <img class="entry-avatar" alt="Paul Laros" height="52" width="52" src="https://pbs.twimg.com/profile_images/461598167847288832/TKNmUu5h.jpeg">
        <h2 class="entry-title"><h1><%= @post.title %></h1></h2>
        <p class="entry-meta">
          Posted on <a class="entry-date" href="date.html"><%= @post.created_at %></a> | By <a class="entry-author" href="author.html">Sunwoo Yang</a>
        </p>
      </header>
      <div class="entry-description"><%=raw @post.body_html %></div>
    </section>

    <div class="comments">
      <div id="disqus_thread"></div>
      <script type="text/javascript">
          var disqus_shortname = 'von-bootstrap'; // required: replace example with your forum shortname

          /*** Don't edit below this line ***/
          (function() {
              var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
              dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
              (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
          })();
      </script>
      <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
      <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
    </div>
  </div>
</div>