
<div class="row">
  <div class="col-md-7, col-md-offset-1">

      <div class="post">
        <h1><%= @post.title %></h1>
        <em><%= @post.created_at %></em>
        <p><%=raw @post.body_html %></p>
        <%#= link_to 'edit', edit_post_path(@post) %>
        <%#= link_to 'destroy', post_path(@post), method: :delete, data: { confirm: "Are you sure?" } %>
      </div>
      
  </div>
</div>