//colors
$mercury: #e5e5e5;
$color_tapa_approx: #777;
$color_mine_shaft_approx: #333;
$color_fuscous_gray_approx: #555;
$color_mercury_approx: #e7e7e7;
$color_celeste_approx: #ccc;
$white: #fff;
$color_desert_storm_approx: #f8f8f8;
$color_crusta_approx: #ff7c26;
$black_20: rgba(0,0,0,.2);
$black_10: rgba(0,0,0,.1);
$black_7: rgba(0,0,0,.07);
$black: #000;
$color_gray_approx: #7f7f7f;
$color_concord_approx: #7c7c7d;
$gallery: #efefef;
$color_chicago_approx: #5e5e5e;
$color_alto_approx: #ddd;
$color_suva_gray_approx: #888;
$black_3: rgba(0,0,0,0.03);
$color_dove_gray_approx: #727272;
$color_cape_cod_approx: #424242;
$gray: #808080;
$color_gray_nurse_approx: #e8e8e8;
$white_70: rgba(255, 255, 255, .7);

//fonts
$font_0: Open Sans;
$font_1: sans-serif;
$font_2: Merriweather;
$font_3: serif;

//urls
$url_0: url(cube.gif);

//@extend-elements
//original selectors
//.embed-container iframe, .embed-container object, .embed-container embed
%extend_1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

//original selectors
//.btn-ada-light:hover, .btn-ada-light:focus, .btn-ada-light:active
%extend_2 {
  background: $white;
  color: $black;
  //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
  transform: rotateX(180deg);
}

//original selectors
//.btn-ada-dark:hover, .btn-ada-dark:focus, .btn-ada-dark:active
%extend_3 {
  background: $black;
  color: $white;
  //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
  transform: rotateX(180deg);
}

//original selectors
//#posts .post, #posts .quote, #slideshow .post
%extend_4 {
  background: $white;
  margin: 20px;
  height: auto;
  overflow: hidden;
  //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
  box-shadow: 0 3px 4px 0 $black_3;
}

//original selectors
//#posts .about, #posts .popular-posts, #posts .tags
%extend_5 {
  background: $white;
  text-align: center;
  margin: 20px;
  padding: 10px 0;
  //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
  box-shadow: 0 3px 4px 0 $black_3;
}

//original selectors
//#posts .quote .quote-left, #posts .quote .quote-right
%extend_6 {
  position: absolute;
  color: $mercury;
  font-size: 60px;
}

//original selectors
//#single .caption, #single .comments, #single .related
%extend_7 {
  background: $white;
  margin: 40px auto;
  padding: 1em 2em;
  //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
  box-shadow: 0 3px 4px 0 $black_3;
}

//original selectors
//.owl-buttons .owl-prev, .owl-buttons .owl-next
%extend_8 {
  position: absolute;
  top: 50%;
  margin-top: -20px;
  background: rgba(255, 255, 255, 0);
  width: 40px;
  height: 40px;
  color: $white;
  //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
  transition: all .2s ease;
}


.loading {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: $url_0 center no-repeat $white;
}
body {
  font-family: $font_0, $font_1;
  background: $color_desert_storm_approx;
}
a {
  color: $color_crusta_approx;
  //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
  transition: all .2s ease;
}
h1 {
  font-family: $font_2, $font_3;
}
.h1 {
  font-family: $font_2, $font_3;
}
h2 {
  font-family: $font_2, $font_3;
}
.h2 {
  font-family: $font_2, $font_3;
}
h3 {
  font-family: $font_2, $font_3;
}
.h3 {
  font-family: $font_2, $font_3;
}
h4 {
  font-family: $font_2, $font_3;
}
.h4 {
  font-family: $font_2, $font_3;
}
h5 {
  font-family: $font_2, $font_3;
}
.h5 {
  font-family: $font_2, $font_3;
}
h6 {
  font-family: $font_2, $font_3;
}
.h6 {
  font-family: $font_2, $font_3;
}
p {
  margin: 0 0 10px 0;
  line-height: 35px;
}
ul {
  list-style-type: square;
}
.btn {
  //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
  transition: none;
  //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
  border-radius: 0;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 12px;
  font-weight: 600;
}
::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-thumb {
  background-color: $black_20;
  //Instead of the line below you could use @include background-clip($clip)
  background-clip: padding-box;
  border: solid transparent;
  border-width: 1px 1px 1px 1px;
  min-height: 28px;
  padding: 100px 0 0;
  //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
  box-shadow: inset 1px 1px 0 $black_10,inset 0 -1px 0 $black_7;
}
.animated {
  animation-duration: 0.8s;
}
.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  height: auto;
  iframe {
    @extend %extend_1;
  }
  object {
    @extend %extend_1;
  }
  embed {
    @extend %extend_1;
  }
}
.btn-ada-light {
  padding: 9px 20px;
  background: $white;
  color: $black !important;
  &:hover {
    @extend %extend_2;
  }
  &:focus {
    @extend %extend_2;
  }
  &:active {
    @extend %extend_2;
  }
}
.btn-ada-dark {
  padding: 9px 20px;
  background: $black;
  color: $white !important;
  &:hover {
    @extend %extend_3;
  }
  &:focus {
    @extend %extend_3;
  }
  &:active {
    @extend %extend_3;
  }
}
.btn-tag {
  padding: 5px 10px;
  margin: 2px auto;
}
.form-control {
  //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
  border-radius: 0;
  //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
  box-shadow: none;
  height: 37px;
  &.input-sm {
    height: 30px;
  }
  &:focus {
    border-color: $color_gray_approx;
    //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
    box-shadow: none;
  }
}
#scroll-to-top {
  position: fixed;
  right: 24px;
  bottom: 40px;
  width: 38px;
  height: 38px;
  line-height: 40px;
  background: $color_concord_approx;
  color: $white;
  text-align: center;
  //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
  transition: all .3s;
  cursor: pointer;
  opacity: 0;
  &.visible {
    opacity: 1;
  }
}
.brand {
  font-size: 40px;
  font-weight: 300;
  color: $black;
  span {
    color: $black;
    position: relative;
    display: inline-block;
    &:before {
      content: " ";
      display: block;
      height: 100%;
      width: 100%;
      position: absolute;
      bottom: 50%;
      z-index: 1;
    }
    &:hover {
      color: $color_crusta_approx;
    }
  }
}
#header {
  .top {
    position: relative;
    text-align: center;
    background: $white;
    padding: 40px 0 34px;
    .search {
      position: absolute;
      right: 10px;
      top: 10px;
      text-align: right;
      .form-control {
        width: 160px;
        //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
        transition: width .2s ease-in-out;
        &:focus {
          width: 240px;
        }
      }
    }
  }
  &.landing {
    .top {
      background: $color_desert_storm_approx;
      padding-top: 100px;
      padding-bottom: 100px;
    }
    .slogan {
      font-size: 20px;
      font-style: italic;
      color: $gray;
      font-weight: 300;
      span {
        color: $color_crusta_approx;
      }
    }
  }
}
.navbar-ada {
  background-color: $white;
  //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
  border-radius: 0;
  border: none;
  border-top: 1px solid $gallery;
  .navbar-brand {
    color: $color_tapa_approx;
    &:hover {
      color: $color_chicago_approx;
      background-color: transparent;
    }
    &:focus {
      color: $color_chicago_approx;
      background-color: transparent;
    }
  }
  .navbar-text {
    color: $black;
  }
  .navbar-nav {
    > {
      .active > a {
        color: $black;
        background-color: transparent;
        &:hover {
          color: $black;
          background-color: transparent;
        }
        &:focus {
          color: $black;
          background-color: transparent;
        }
      }
      .disabled > a {
        color: $color_celeste_approx;
        background-color: transparent;
        &:hover {
          color: $color_celeste_approx;
          background-color: transparent;
        }
        &:focus {
          color: $color_celeste_approx;
          background-color: transparent;
        }
      }
      .open > a {
        background-color: transparent;
        &:hover {
          background-color: transparent;
        }
        &:focus {
          background-color: transparent;
        }
      }
    }
    > li > a {
      color: $black;
      text-transform: uppercase;
      font-weight: 600;
      font-size: 12px;
      //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
      transition: none;
      &:hover {
        color: $black;
        background-color: transparent;
      }
      &:focus {
        color: $black;
        background-color: transparent;
      }
    }
  }
  .navbar-toggle {
    border-color: $color_alto_approx;
    &:hover {
      background-color: $color_alto_approx;
    }
    &:focus {
      background-color: $color_alto_approx;
    }
    .icon-bar {
      background-color: $color_suva_gray_approx;
    }
  }
  .navbar-collapse {
    border-color: $color_mercury_approx;
  }
  .navbar-form {
    border-color: $color_mercury_approx;
  }
  .dropdown-menu {
    //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
    box-shadow: none;
    //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
    border-radius: 0;
    a {
      padding: 6px 14px;
      color: $black;
    }
  }
  .navbar-link {
    color: $color_tapa_approx;
    &:hover {
      color: $color_mine_shaft_approx;
    }
  }
  .btn-link {
    color: $color_tapa_approx;
    &:hover {
      color: $color_mine_shaft_approx;
    }
    &:focus {
      color: $color_mine_shaft_approx;
    }
  }
  .btn-link[disabled] {
    &:hover {
      color: $color_celeste_approx;
    }
    &:focus {
      color: $color_celeste_approx;
    }
  }
}
@media(min-width: 768px) {
  .navbar-nav {
    float: left;
    margin: 0;
    > li {
      float: left;
      > a {
        padding: 0;
        margin: 15px 30px;
      }
    }
  }
  .navbar-brand {
    padding-top: 35px;
    padding-bottom: 35px;
  }
  .navbar {
    .navbar-nav {
      display: inline-block;
      float: none;
      vertical-align: top;
    }
    .navbar-collapse {
      text-align: center;
    }
  }
  .navbar-ada .navbar-nav {
    > li > a {
      border-bottom: 2px solid transparent;
      &:hover {
        border-bottom: 2px solid $mercury;
      }
      &:focus {
        border-bottom: 2px solid $mercury;
      }
    }
    > .active > a {
      border-bottom: 2px solid $mercury;
      &:hover {
        border-bottom: 2px solid $mercury;
      }
      &:focus {
        border-bottom: 2px solid $mercury;
      }
    }
  }
}
@media(max-width: 767px) {
  .navbar-ada .navbar-nav .open .dropdown-menu {
    > {
      .active > a {
        color: $color_fuscous_gray_approx;
        background-color: $color_mercury_approx;
        &:hover {
          color: $color_fuscous_gray_approx;
          background-color: $color_mercury_approx;
        }
        &:focus {
          color: $color_fuscous_gray_approx;
          background-color: $color_mercury_approx;
        }
      }
      .disabled > a {
        color: $color_celeste_approx;
        background-color: transparent;
        &:hover {
          color: $color_celeste_approx;
          background-color: transparent;
        }
        &:focus {
          color: $color_celeste_approx;
          background-color: transparent;
        }
      }
    }
    > li > a {
      color: $color_tapa_approx;
      &:hover {
        color: $color_mine_shaft_approx;
        background-color: transparent;
      }
      &:focus {
        color: $color_mine_shaft_approx;
        background-color: transparent;
      }
    }
  }
}
#posts {
  margin: 40px auto;
  .col-md-1 {
    padding: 0;
  }
  .col-md-2 {
    padding: 0;
  }
  .col-md-3 {
    padding: 0;
  }
  .col-md-4 {
    padding: 0;
  }
  .col-md-5 {
    padding: 0;
  }
  .col-md-6 {
    padding: 0;
  }
  .col-md-7 {
    padding: 0;
  }
  .col-md-8 {
    padding: 0;
  }
  .col-md-9 {
    padding: 0;
  }
  .col-md-10 {
    padding: 0;
  }
  .col-md-11 {
    padding: 0;
  }
  .col-md-12 {
    padding: 0;
  }
  .row {
    margin-left: 0;
    margin-right: 0;
  }
  .post {
    @extend %extend_4;
    .caption {
      padding: 20px 24px;
    }
    .owl-controls {
      opacity: 0;
      //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
      transition: all .1s ease;
    }
    &:hover .owl-controls {
      opacity: 1;
    }
  }
  .quote {
    @extend %extend_4;
    position: relative;
    padding: 58px 32px;
    .quote-face {
      width: 92px;
      //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
      border-radius: 50%;
    }
    .quote-left {
      @extend %extend_6;
      top: 20px;
      left: 20px;
    }
    .quote-right {
      @extend %extend_6;
      bottom: 20px;
      right: 20px;
    }
    blockquote {
      padding: 20px;
      margin: 0;
      font-size: 17.5px;
      border-left: none;
    }
    .owl-controls {
      opacity: 0;
      //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
      transition: all .1s ease;
    }
    &:hover .owl-controls {
      opacity: 1;
    }
  }
  .about {
    @extend %extend_5;
    p {
      margin: 20px;
    }
  }
  .popular-posts {
    @extend %extend_5;
    padding: 10px 30px;
    a {
      color: $black;
      text-decoration: none;
      display: block;
      margin: 10px auto;
    }
  }
  .tags {
    @extend %extend_5;
    padding-bottom: 20px;
  }
}
@media(min-width: 992px) {
  #posts {
    .post {
      height: 340px;
      &.featured {
        height: auto;
        .caption {
          margin: 50px auto;
          padding: 40px 40px 0;
        }
      }
      &.big {
        height: auto;
        .caption {
          margin: 50px auto;
          padding: 40px 40px 0;
        }
      }
    }
    .quote {
      height: 340px;
    }
  }
}
.media {
  margin-top: 0;
}
.post {
  .post-thumb {
    height: 60px;
    width: 60px;
    overflow: hidden;
    display: inline-block;
    float: left;
    margin-right: 16px;
  }
  .post-tag {
    color: $color_crusta_approx;
    display: block;
    font-size: 15px;
    text-transform: lowercase;
    margin: 5px 0;
  }
  .post-title {
    color: $black;
    font-size: 22px;
    text-decoration: none;
  }
  &.featured {
    .post-title {
      font-size: 30px;
    }
    p {
      font-size: 1.1em;
      line-height: 24px;
    }
  }
  .post-date {
    color: $color_dove_gray_approx;
    display: block;
    font-size: 12px;
    text-transform: uppercase;
  }
  .post-description {
    margin: 14px auto;
  }
}
#single {
  margin: 40px auto 20px;
  .caption {
    @extend %extend_7;
    padding-bottom: 40px;
  }
  .comments {
    @extend %extend_7;
  }
  .related {
    @extend %extend_7;
    a {
      color: $color_cape_cod_approx;
      text-decoration: none;
      &:hover {
        color: $black;
      }
    }
  }
  .header {
    text-align: center;
    margin-bottom: 40px;
  }
}
.avatar {
  max-width: 200px;
  margin: 10px auto;
}
.page-404 {
  margin: 60px auto;
  text-align: center;
  h1 {
    font-size: 60px;
  }
  h2 {
    color: $color_chicago_approx;
    font-size: 34px;
  }
}
#footer {
  background: $white;
  text-align: center;
  padding: 0;
  #links {
    padding: 54px;
  }
  .brand {
    font-size: 24px;
    font-weight: 300;
  }
  li {
    margin-top: 5px;
    a {
      color: $color_gray_approx;
      text-decoration: none;
      &:hover {
        color: $black;
      }
    }
  }
}
#subscribe {
  border-bottom: 1px solid $color_mercury_approx;
  padding: 30px;
}
#styles {
  background: $white;
  padding: 40px;
  text-align: center;
  .style {
    border: 1px solid $color_gray_nurse_approx;
    padding-bottom: 10px;
    margin: 16px auto;
    a {
      text-decoration: none;
      color: $color_crusta_approx;
    }
    .header {
      height: 380px;
      overflow: hidden;
      //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
      transition: all 4s ease 0s;
      background-size: 100% auto;
      background-position: 0 0;
      &:hover {
        background-position: 0 100%;
      }
    }
  }
  h2 {
    font-size: 20px;
    text-transform: uppercase;
    color: $black;
  }
}
.owl-buttons {
  .owl-prev {
    @extend %extend_8;
    left: 5px;
    &:hover {
      background: $white_70;
      color: $black;
    }
    .fa {
      font-size: 24px;
      margin: 8px 15px;
    }
  }
  .owl-next {
    @extend %extend_8;
    right: 5px;
    &:hover {
      background: $white_70;
      color: $black;
    }
    .fa {
      font-size: 24px;
      margin: 8px 15px;
    }
  }
}
#map {
  width: 100%;
  height: 400px;
}
.contact-info {
  margin: 30px auto;
  a.email {
    color: $color_mine_shaft_approx;
    text-decoration: none;
  }
}
.form-inline .form-group p {
  margin: 10px;
}
fieldset[disabled] .navbar-ada .btn-link {
  &:hover {
    color: $color_celeste_approx;
  }
  &:focus {
    color: $color_celeste_approx;
  }
}
#slideshow .post {
  @extend %extend_4;
}
#documentation .block {
  padding: 1.4em 2em;
  background: $white;
  margin: 20px 0 40px;
  //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
  box-shadow: 0 3px 4px 0 $black_3;
}