.tag {
  color: #FF7C26;
}

@media(min-width: 992px) {
  #posts .post.big .caption {
    padding-top: 20px !important;
    padding-bottom: 0px !important;
    margin: 0px !important;
  }
}

body {
  background-color: #F8F8F8 !important;
}

.navbar-ada {
  border-top: 1px solid #EFEFEF !important;
}

img {
  width: 100% !important;
}