body {
  font-weight: 300;
  font-family: 'Open Sans', sans-serif !important;
  background-color: #F8F8F8 !important;
}

.navbar-ada {
  border-top: 1px solid #EFEFEF !important;
}

h1#single-post-title {
  font-weight: 600;
}

img {
  width: 100% !important;
}

h1 {
  font-size: 1.6em !important;
}

/*about*/

.post-title:hover {
  color: #FF7C26;
}

.tag {
  color: #FF7C26;
}


@media(max-width: 480px) {
  .post.single-post .caption {
    margin-top: 0px !important;
    padding: 14px 13px !important;
  }

  .post.single-post .caption h1 {
    font-size: 1.2em !important;
  }

  h1#single-post-title {
    font-size: 1.9em;
  }

  p.post-description {
    line-height: 25px;
  }

  .caption p {
    line-height: 30px;
    font-size: 1.2em;
    margin-bottom: 30px;
    font-weight: 300;
  }



  #subscribe p {
    text-align: center;
  }
}

@media(min-width: 992px) {

  ul {
    padding-left: 23px;

    li {
      line-height: 35px;
    }
  }

  #posts .post.big .caption {
    padding-top: 20px !important;
    padding-bottom: 0px !important;
    margin: 0px !important;
  }

  .post.single-post .caption {
    padding: 0px 200px 50px 200px !important;
    font-size: 1.4em;
    
    p {
      margin-bottom: 30px;
    }

    img {
      box-shadow: 2px 6px 40px #888888;
    }

    .header {
      padding-top: 40px;
    }
  }
}




