body {
  font-weight: 300;
  font-family: 'Open Sans', sans-serif;
}

.tag {
  color: #FF7C26;
}

@media(min-width: 992px) {

  ul {
    padding-left: 23px;

    li {
      line-height: 35px;
    }
  }

  #posts .post.big .caption {
    padding-top: 20px !important;
    padding-bottom: 0px !important;
    margin: 0px !important;
  }

  .post.single-post .caption {
    padding: 0px 200px 50px 200px !important;
    font-size: 1.4em;
    
    p {
      margin-bottom: 30px;
    }

    .header {
      padding-top: 40px;
    }
  }
}

body {
  background-color: #F8F8F8 !important;
}

.navbar-ada {
  border-top: 1px solid #EFEFEF !important;
}

img {
  width: 100% !important;
}

/*about*/


