.main-content {
  font-size: 26px;
}

#post_content, #post_title {
  color: black;
}

#post-title {
  text-align: center;
  margin-top: 0px;
  color: white;
  padding-top: 10%;
  font-size: 4vw;
  width: 60%;
  margin: 0 auto;
  font-family: 'Kalam', cursive;
}

#email_text_field {
  margin-bottom: 0px;
}

.email-form {
  border: 1px solid black;
  padding: 30 40 30 40;
}

.jPanelMenu, body {
  overflow-x: visible !important;
}